@import "_var.scss";

* {
  font-variant-ligatures: none;
}

body {
  background-color: $background;
  font-family: "Along Sans s2", sans-serif;
  font-size: 20px;
  color: $white;
}

a {
  text-decoration: none;
  color: $white;
  cursor: pointer;

  &:hover {
    color: $primary;
  }
}

h1 {
  font-size: 64px;
  font-family: "Poppins", sans-serif;
  width: 75%;
  text-align: center;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 500;
}

h3 {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  width: 75%;
  text-align: center;
  font-weight: 500;
}

button {
    font-size: 20px;
    font-family: "Along Sans s2", sans-serif;
    transition: 0.3s;
}

input {
    font-size: 20px;
    font-family: "Along Sans s2", sans-serif;
}

.navigation {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;

  &.subpage {
    min-height: 80vh;
  }

  .container-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    .container {
      background: $secondary;
      border-radius: 20px;
      text-align: center;
      padding: 20px 10px;

      h2 {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 40px;
        text-transform: uppercase;
      }

      a {
        background: $primary;
        color: $background;
        padding: 10px 42px;
        border-radius: 20px;
        transition: 0.3s;

        &:hover {
          font-weight: 500;
        }
      }
    }
  }
}

.features {
  width: 80%;
  margin: 0 auto;
  margin-top: 92px;

  .container-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 32px;
    .container {
      background: $secondary;
      border-radius: 20px;
      text-align: center;
      padding: 20px 10px;
      text-align: center;

      h3 {
        margin: 0 auto;
      }

      a {
        background: $primary;
        color: $background;
        padding: 10px 42px;
        border-radius: 20px;
        transition: 0.3s;

        &:hover {
          font-weight: 500;
        }
      }
    }
  }
}

.result {
    background: $secondary;
    padding: 20px 32px;
    border-radius: 20px;

    h2 {
        font-size: 28px;
        text-align: left;

        b {
            color: $primary;
            letter-spacing: 1px;
        }
    }
}

.input-container {
    background: $secondary;
    padding: 32px;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
        width: calc(100% - 40px);
        padding: 10px 20px;
        border-radius: 15px;
        border: 1px solid rgba($color: #fff, $alpha: .5);
        background: $secondary;
        color: $white;
        font-size: 20px;
        outline: none;
        transition: 0.3s;
        &::placeholder {
            color: $white;
            opacity: .5;
        }

        &:focus {
            border: 1px solid $primary;
        }
    }

    button {
        background: $primary;
        color: $background;
        padding: 10px 42px;
        border-radius: 20px;
        transition: 0.3s;
        margin-top: 20px;
        cursor: pointer;
        border: none;

        &:hover {
            font-weight: 500;
        }
    }

    .result-container {
        margin-top: 64px;
    }
}

.footer {
    width: 80%;
    margin: 0 auto;
    margin-top: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-bottom {
        a {
            margin: 0 10px;
        }
    }
}

@media only screen and (max-width: 1628px) {
    .hero {
        .container-row {
            grid-template-columns: repeat(3, 1fr);
        }
    }

}

@media only screen and (max-width: 1228px) {
    .hero {
        .container-row {
            grid-template-columns: repeat(2, 1fr);
            .container {
                width: 100%;
            }
        }
    }

    .features {
        .container-row {
            grid-template-columns: repeat(2, 1fr);
            .container {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 728px) {
    .hero {
        .container-row {
            grid-template-columns: repeat(1, 1fr);
            .container {
                width: 100%;
            }
        }
    }

    .features {
        .container-row {
            grid-template-columns: repeat(1, 1fr);
            .container {
                width: 100%;
            }
        }
    }
}