@import "_var.scss";

* {
  font-variant-ligatures: none;
}

body {
  background-color: $background;
  font-family: "Along Sans s2", sans-serif;
  font-size: 20px;
  color: $white;
}

a {
  text-decoration: none;
  color: $white;
  cursor: pointer;

  &:hover {
    color: $primary;
  }
}

h1 {
  font-size: 64px;
  font-family: "Poppins", sans-serif;
  width: 75%;
  text-align: center;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 500;
}

h3 {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  width: 75%;
  text-align: center;
  font-weight: 500;
}

span.disclaimer {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  width: 75%;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}

button {
  font-size: 20px;
  font-family: "Along Sans s2", sans-serif;
  transition: 0.3s;
}

input {
  font-size: 20px;
  font-family: "Along Sans s2", sans-serif;
}

.text-align-center {
  text-align: center;
}

* {
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

.main-navigation {
  margin: 2em auto;
  width: 80%;
}

ul {
  margin: 0; //reset
  padding: 0;
}

.menu {
  display: flex;
  flex-direction: column;

  li {
    display: block;
    list-style-type: none;
    text-transform: lowercase;
  }

  li a {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: $white;
    font-size: 18px;
    padding: 1rem;
  }

  li a:hover {
    color: $primary;
  }
}

@media (min-width: 800px) {
  .menu {
    flex-direction: row;
    justify-content: space-between;
  }
}

nav ul ul {
  display: none;
}

@media (min-width: 800px) {
  nav ul ul {
    display: none;
    position: absolute;
  }
}

nav ul li:hover > ul {
  display: block;
  color: #fff;
  padding-left: 2rem;
}

@media (min-width: 800px) {
  nav ul li:hover > ul {
    padding-left: 0;
  }

  nav ul li:hover > ul a {
    color: #fff;
  }

  .sub-menu {
    border: 1px solid $primary;
    border-radius: 20px;
    background: $background;
    li {
      display: flex;
      padding-right: 2em;
      
      &:first-child {
        border-radius: 20px;
      }

      &:last-child {
        border-radius: 20px;
      }
    }

    li:hover,
    li a:hover {
      color: $primary;
    }
  }

  nav ul ul ul {
    margin: 0 0 0 100%;
    box-shadow: 0 0 2px rgba(218, 78, 78, 0.6);
  }
}

.navigation {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.body {
  width: 80vw;
  margin-left: auto;
}

.hero {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;

  &.subpage {
    min-height: 80vh;

    h2 {
      font-size: 24px;
      font-family: "Along Sans s2", sans-serif;
    }
  }

  .container-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    gap: 20px;
    
    .container {
      background: $secondary;
      border-radius: 20px;
      text-align: center;
      padding: 20px 10px;

      h2 {
        font-size: 32px;
        font-weight: 500;
        padding: 0 28px;
        margin-bottom: 40px;
        text-transform: uppercase;
      }

      a {
        background: $primary;
        color: $background;
        padding: 10px 42px;
        border-radius: 20px;
        transition: 0.3s;

        &:hover {
          font-weight: 500;
        }
      }
    }
  }
}

.features {
  width: 80%;
  margin: 0 auto;
  margin-top: 92px;

  .container-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 32px;
    .container {
      background: $secondary;
      border-radius: 20px;
      text-align: center;
      padding: 20px 10px;
      text-align: center;

      h3 {
        margin: 0 auto;
      }

      a {
        background: $primary;
        color: $background;
        padding: 10px 42px;
        border-radius: 20px;
        transition: 0.3s;

        &:hover {
          font-weight: 500;
        }
      }
    }
  }
}

.result {
  background: $secondary;
  padding: 20px 32px;
  border-radius: 20px;

  h2 {
    font-size: 28px;
    text-align: left;

    b {
      color: $primary;
      letter-spacing: 1px;
    }
  }
}

.input-container {
  background: $secondary;
  padding: 32px;
  border-radius: 20px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    width: calc(100% - 40px);
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid rgba($color: #fff, $alpha: 0.5);
    background: $secondary;
    color: $white;
    font-size: 20px;
    outline: none;
    transition: 0.3s;
    &::placeholder {
      color: $white;
      opacity: 0.5;
    }

    &:focus {
      border: 1px solid $primary;
    }
  }

  button {
    background: $primary;
    color: $background;
    padding: 10px 42px;
    border-radius: 20px;
    transition: 0.3s;
    margin-top: 20px;
    cursor: pointer;
    border: none;

    &:hover {
      font-weight: 500;
    }
  }

  .result-container {
    margin-top: 64px;
    text-align: left;

    .result-container-result {
      p {
        margin: 8px 0;
        font-family: "Popins", sans-serif;
      }
    }
  }
}

.footer {
  width: 80%;
  margin: 0 auto;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .footer-bottom {
    a {
      margin: 0 10px;
    }
  }
}

@media only screen and (max-width: 1628px) {
  .hero {
    .container-row {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

@media only screen and (max-width: 1428px) {
  .hero {
    .container-row {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .features {
    .container-row {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media only screen and (max-width: 1228px) {
  .hero {
    .container-row {
      grid-template-columns: repeat(2, 1fr);
      .container {
        width: 100%;
      }
    }
  }

  .features {
    .container-row {
      grid-template-columns: repeat(2, 1fr);
      .container {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 728px) {
  .hero {
    .container-row {
      grid-template-columns: repeat(1, 1fr);
      .container {
        width: 100%;
      }
    }
  }

  .features {
    .container-row {
      grid-template-columns: repeat(1, 1fr);
      .container {
        width: 100%;
      }
    }
  }
}
